body {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(42, 114, 42);
  }
h1, h1 a {
  font-size: 3em;
  color: white;
  text-decoration: none;
  position: fixed;
  top: 2vh;
  left: 2vw;
}
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container img, .container svg {
    width: 30vw;
    max-width: 300px;
    min-width: 100px;
    padding: 10px;
}



